<!DOCTYPE html>
<html lang="en" ng-app="AngularJSApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular JS Code Camp</title>

    <link href="libs/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <style>
    section {
      padding: 80px;
    }
    .platforms li {
      list-style: none;
      font-weight: bold;
    }
    .platform {
      padding: 10px;
      margin-bottom: 30px;
    }
    a:hover {
      text-decoration: none;
    }
    </style>
  </head>
  <body>
    <section ng-controller="SearchController" class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <input ng-model="platformName" type="text" class="form-control">
          </div>
        </div>    
      </div>
      <div class="row">
        <ul class="platforms">
          <li class="col-xs-4 text-center" ng-repeat="platform in platforms">
            <a class="platform" href="{{platform.url}}">
              <img src="images/{{platform.image}}" alt="{{platform.name}}" class="img-responsive">
              <h4>{{platform.name}}</h4>
              <h6>{{platform.url}}</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script src="libs/jquery-1.11.2.min.js"></script>
    <script src="libs/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="libs/angular-1.3.15/angular.min.js"></script>
    <script src="libs/angular-1.3.15/angular-route.min.js"></script>
    <script src="configs/app.js"></script>
    <script src="controllers/search.js"></script>
  </body>
</html>