body {
  padding: 50px 0;
}
ul.platforms {
  padding: 0;
}
ul.platforms li {
  list-style: none;
}
a {
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a:hover {
  opacity: 1.0;
  text-decoration: none;
}
.platform .panel-title {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}